<% if @voted %>
  <div id="cb_i_<%= @poll.id %>" class="voted"></div>
  <div id="cb_m_<%= @poll.id %>" class="vote-desc">I'm in!</div>
<% else %>
  <div id="cb_i_<%= @poll.id %>" class="novote"></div>
  <div id="cb_m_<%= @poll.id %>" class="vote-desc">I'd be in</div>
<% end %>