<% @poll.errors.each do |error| %>
  <div class="error"><%= error %></div>
<% end %>

<form id="add-poll-form" name="add-poll" action="/polls" method="post">
  <label for="poll_title">Title</label>
  <input id="poll_title" type="text" name="poll[title]" />

  <br/>
  <label for="poll_description">Description</label>
  <input id="poll_description" type="text" name="poll[description]" />

  <br/>
  <label for="poll_threshold">Threshold</label>
  <input id="poll_threshold" type="text" name="poll[threshold]" />
  
  <br/>
  <input onclick="submitNewPoll();" type="submit" name="submit" value="Add Poll" />
</form>