<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="assets/styles/main.css" type="text/css" media="screen" charset="utf-8" />
		<script src="lib/jquery/jquery-1.3.2.js"></script>
        <title>idbe.in</title>
		
		<script type="text/javascript">
			//function $(id)
			//{
			//	return document.getElementById(id);
			//}
			function hilite(element)
			{
				element.style.backgroundColor = '#eeeeee';
			}
			
			function unhilite(element)
			{
				element.style.backgroundColor = "#dddddd";
			}
			
			function handleClick(permalink, username)
			{
				//alert(permalink);
				//alert(username);
				//alert($)
				var url = '/polls/' + permalink + '/votes/' + username;
				$.ajax({
        			type: 'post',
        			url: url,
        			success: handleClickSuccess(permalink)
        			//dataType: type
        		});
			}
			
			function handleClickSuccess(permalink)
			{
				//alert('bugs');
				var item = $("#" + permalink)[0];
				var checkImage = $("#cb_i_" + permalink)[0];
				var checkMsg = $("#cb_m_" + permalink)[0];
				checkMsg.innerHTML = "I'm in!";
				checkImage.className = 'voted';
			}
			
			function togglePoll()
			{
				var f = $('#add-poll-form')[0];
				f.style.display = f.style.display == "none" || f.style.display == "" ? "block" : "none";
			}
			
			function submitNewPoll()
			{
				$.ajax({
    				type: "POST",
					url: "bin/process.php",
					data: 'abc',
					success: function() {
						alert('success');
					}
				});
			}
		</script>
    </head>
    <body>
    	<div id="header">
    		<ul id="section-1">
    			<li>
    				All Polls
    			</li>
				<li>
					<a href="#">Your Polls</a>
				</li>
				<li>
					<a href="#">Your Messages</a>
				</li>
    		</ul>
    	</div>
		<div id="page">
			
			<div id="faq">
				<h1>
					Are you in?
				</h1>
				<p>
					idbe.in (I’d be in) allows you to create polls.
				</p>
				<p>
					If people vote on your poll past its threshold, then you can send them a 140 character message.
				</p>
			</div>
			<div id="content">
				<a id="add-poll" href="javascript:togglePoll();">+ Add a Poll</a>
				<form id="add-poll-form" name="add-poll" action="/polls" method="post">
					<table>
						<tr>
							<td>
								Listing Name:
							</td>
							<td>
								<input type="text" name="poll[title]" value="a" />
							</td>
						</tr>
						<tr>
							<td>
								Description:
							</td>
							<td>
								<textarea name="poll[description]" rows="5" cols="50">b</textarea>
							</td>
						</tr>
						<tr>
							<td>
								Threshold:
							</td>
							<td>
								<input type="text" name="poll[threshold]" value="1" />
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<input onclick="submitNewPoll();" type="submit" name="submit" value="Add Poll" />
							</td>
						</tr>
					</table>
				</form>
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<div id="copyright">
				Copyright 2009 Larry Diehl, Zachary Berry &amp; Ian Turgeon
			</div>
		</div>
		
		<!-- Absolute elements -->
		<div id="screen-logo">
		</div>
    </body>
</html>
