# -*- coding: utf-8 -*-
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css" media="screen" charset="utf-8" />
    <script src="lib/jquery/jquery-1.3.2.js"></script>
    <title>idbe.in</title>
    
    <script type="text/javascript" src="includes/main.js"></script>
  </head>
  <body>
    <div id="header">
      <ul id="section-1">
        <li>
          All Polls
        </li>
        <% if current_user %>
          <li>
            <a href="#">Your Polls</a>
          </li>
          <li>
            <a href="#">Your Messages</a>
          </li>
          <li>
            <span id="greeting"><%=h "Hello #{current_user.username}!" %></span>
          </li>
          <li>
            <a href="/sessions/destroy">Logout</a>
          </li>
        <% else %>
          <li>
            <a href="/users/new">Signup</a>
          </li>
          <li>
            <a href="/sessions/new">Login</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="page">
      
      <div id="faq">
        <h1>
          Are you in?
        </h1>
        <p>
          idbe.in (I’d be in) allows you to create polls.
        </p>
        <p>
          If people vote on your poll past its threshold, then you can send them a 140 character message.
        </p>
      </div>
      <div id="content">
        <a id="add-poll" href="/polls/new">+ Add a Poll</a>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div id="copyright">
        Copyright 2009 Larry Diehl, Zachary Berry &amp; Ian Turgeon
      </div>
    </div>
    
    <!-- Absolute elements -->
    <div id="screen-logo">
    </div>
  </body>
</html>
